
.mainBlock {
  display: flex;
  flex-direction: column; /* Set column layout by default */

  @media screen and (max-width: 767px) {
    flex-direction: row; /* Change to row layout for mobile screens */
    flex-wrap: wrap; /* Allow flex items to wrap to the next row */
  }
}


.blockCard {
  position: absolute;
  width: 221.05px;
  height: 120px;
  top: 129px;
  @media screen and (max-width: 767px) {
    
    flex: 1; /* Distribute available width evenly in mobile view */
    margin: 5px; /* Add margin for spacing between items */
  }
}


.mainNavbar {
  @media screen and (max-width: 767px) {
    display: none;
  }
}